---
layout: default
---
<div class="row">
	<div class="flat-bar flat-bar-top">
		<div class="toggle-icon-container">
			<div class="toggle-icon">
				<span onclick="showHideSideBar()">
					<i class="app-icon reduced-size">&#xf0c9;</i>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	{% include sidebar.html %}	
	<div class="main-content col-xl-7 col-lg-7 col-md-11 col-sm-11 col-xs-11">
		{% include main-content-header.html %}		
	</div>	
</div>
<div class="row ">
	<div class="flat-bar flat-bar-bottom"></div>
</div>
