.card {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding-top: 16px;
  text-align: left;
  background-color: #fbfbfb;
  margin-top:20px;
  margin-left: 30px;
}
hr{
	margin-bottom: 0px;
	margin-top: 0px;
	height:	1px;
}
body, html{
	height:100%;
	overflow-x:hidden;
	font-family:serif;

}
.user-photo {
  	border-radius: 50%;
	width: 50%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding: 5%;

}
.sidebar{
	display: inline-block;
	z-index: 1;
  	top: 0;
  	left: 0;
	height: 100vh; /* Full height */
	overflow-y:hidden;
	position:sticky
}
h2{
	font-size:20px;
	font-weight: bold
}
.main-content{
	overflow: auto
}
.main-content h3{
	font-weight:5px;
	font-weight: bold
}
.main-content h2{
	color:#061192;
}
.main-content .content{
	padding-left: 30px;
}
.post-name{
	margin-top: 20px;
}
.post-name, .project-name{

	font-weight: bold;
	font-size: 15px;
}
.post-name, .post-place{
	<!-- display: inline-block; -->
}
.project-description, .project-description-complete{
	height: 100px;
	overflow: hidden;
	padding-left: 20px;
	padding-top: 10px;	
}
.project-description{
 	-webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.sidebar-colored{
	height:49%; 
	background-color:#061192;
	padding-top: 10px;
	padding-left: 20px;

}
.sidebar-colored .content{
	color:white;
	text-align:left
}
.show-more{
	color: #061192;
	font-weight: bold;
	margin-bottom: 0px
}
.show-more-inactive{
	color:white;
	padding: 1px;
}
.show-more p{
	text-align: center
}
.modal {
    box-shadow: 0px 5px 20px rgb(0 0 0 / 50%);
    position: fixed;
    top: 10%;
    padding: 0px 0px;
    border-radius: 8px;
    background-color: white;
    z-index: 60000;
    width: 500px;
    min-height: 100px;
    display: none;
    left: 50%;
    margin-left: -200px;
    max-height: fit-content;
    box-sizing: border-box;
}
.modal.open {
    display: block;
}
.modal-js-close {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: black;
    color: white;
	
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 1px;
    top: -10px;
    right: -10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.wrapper{
    opacity:0.1
} 

.modal-header{
	background-color: #061192;
	color: white;
	font-weight:bold;
	font-size:20px;
	width:100%;
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}
.modal-header-content{
	width: 85%;
	margin: 0px;
	float:left;
	border:0px;
}
.modal-content{
	width:100%;
	height: auto;
	border:0px;
	padding: 10px 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: none;
}
.modal-footer{
	width:100%;
	height: auto;
	border:0px;
	background-color: white;
	padding: 20px 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.show-more button{
	background-color:white;
	border: 0px;
}
.btn-close-x{
	cursor: pointer;
	display: inline-block;
	float:right;
	background-color:none;
	border: 0px;
}
.btn-close{
	display: inline-block;
	float:right;
	background-color:white;
	color: #061192;
	border: 0px;
	padding: 5px 15px;
}
.modal-footer.btn-close{
	cursor: pointer;
	display: inline-block;
	border: 0px;
}
.github-img{
	width:7%;
	margin-right:10px;
	display: inline-block;
	float:right;
}
.research-img{
	width:7%;
	margin-right:10px;
	display: inline-block;
	float:right;
}
.project-name{
	display: inline-block;
	width: 80%;
	height:100%
}
.project-name-logo{
	height:30px;
}
.stats{
	color:green;
	font-weight:bold;
}
.btn-github{
	background-color: #061192;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	border: 0px;
}
.show-github{
	display: inline-block;
}
.hide-github{
	display: none;
}
