<div class="row">
    <div class="col-md-12 col-sm-12">
	<h2 style="margin-top:40px">About me...</h2>
	<div class="content description">
		<div>
			I am a software engineer. With five years of experience in the industry, I can write code that will run optimistically while it also can be maintained efficiently. I can build complete web applications, and my hobby is to develop small apps that help my daily activities. I completed my bachelor study at <a href="https://www.cit.edu.in/" target="_blank"><b>Coimbatore Institute of Technology</b></a>, affiliated to Anna University, India. I closely worked with my professor Ramraj Thirupathyraj. Working together, we completed research work on a graph problem in the Argumentation Framework. Now, he took me in his current study on graph classification problems as his Research Assistant. <br><br>

I am a Machine Learning (ML) enthusiast, specifically on the theory part. I like working on the math behind every fascinating algorithm as <b>theory</b> work excites me a lot, and I look to explore more theoretical research in the future. Hence, I am learning theory proofs and methods. Currently, I focus on doing my graduate course where I mainly like to focus on the theoretical works and algorithms in the primary areas of my research interest. <br><br>

I always believe that <b>perseverance</b> is the key to success when things get tough. So, STAY humble, STAY focused! You can download <a href="https://github.com/Sivakumar3695/Analyse-Impact-of-Branching-Heuristics-in-CDCL-type-AF-solvers/files/7460303/Curriculum.Vitae.3.pdf" target="_blank">my CV</a> or can contact me via <a href="mailto: sivakumar.dpalanisamy@gmail.com">mail</a> if you need information about my works.
		</div>
	</div>
    </div>
</div>
