<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2 style="margin-top:41px">Awards & Honours</h2>
		<div class="content">
			<div>
				<div class="post-name">Runner-up - 2nd prize</div>    
				<div class="post-place">Inter-college project competition, Department of Computer Science - <i> 2015 </i> <br> </div>
			</div>
			<div> <i>Project</i>: Remote fluid sensing with an Iot system and android application. <small><b><i>(received special mention for innovative & valuable project ideas)</i></b></small></div>
		</div>
	</div>
</div>
