<button class="collapsible">Awards</button>    
	<div class="collapsible-content">     
		<ul>      
			<li>
				<div>
					<div class="mc-post-name description">Runner-up - 2nd prize</div>      
					<div class="post-place">Inter-college project competition, Department of Computer Science - 2015.</div>           
				</div>
				<div class="mc-exp-detail">       
					<b> Project:</b> Remote fluid sensing with an Iot system and android application. <small><b><i>(received special mention for innovative & valuable project ideas)</i></b></small>
				</div>
			</li>     	
		</ul>
	</div>
<button class="collapsible">Additional Involvements</button>    
	<div class="collapsible-content">     
		<ul>
			<li>
				<div>
					<div class="mc-post-name description">Member of Placement Helper program</div>
					<div class="post-place">Department of Computer Science, Coimbatore Institute of Technology.
</div>
					<i> 2015-16</i>      
				</div>
				<div class = "mc-exp-detail">
					<b>Concepts & Subjects handled:</b> Data Structues & Algorithms, important SQL topics.
			      </div>
			</li> 
		</ul>
		<ul>
			<li>
				<div>
					<div class="mc-post-name description">Mentor</div>
					<div class="post-place">Zoho Books Team
				</div>
					<i> 2017-21</i>      
				</div>
				<div class = "mc-exp-detail">
					<b>Concepts Lectured:</b> Web development, J2EE, Core Java and Zoho Book's internal frameworks since we used our framework for handling REST API calls and database queries
					<br><b>Target Audience:</b> Freshers and Employees with less than one year of experience. 
			      </div>
			</li> 
		</ul>
	</div>
<button class="collapsible">Talks</button>    
	<div class="collapsible-content">     
		<ul>
			<li>
				<div>
					<div class="mc-post-name description">Student Induction Program</div>
					<div class="post-place">Coimbatore Institute of Technology</div>
					<i> 2021 </i>      
				</div>
				<div class = "mc-exp-detail">
					<b>Topic:</b> How to kick start your AI journey?
				        <br><b>Target Audience:</b> First-year students.
			      </div>
			</li> 
		</ul>
	</div>
