<div class="row">
	<div class="col-md-12 col-sm-12" style="font-family:serif">
		<h2 style="margin-top:41px">Awards & Honours</h2>
		<hr color="#061192">
		<div class="content">
			<div>
				<div class="post-name">Runner-up</div>      
				<div class="post-place">Inter-college project competition, Department of Computer Science.</div>
			</div>
			<div> <i> 2015 </i> </div>
			<div>
				<div class="post-name">Mentoring Excellence Honour</div>      
				<div class="post-place">Zoho Books Team</div>
			</div>
			<div> <i> 2019 </i> </div>
		</div>
	</div>
</div>
