<button class="collapsible">Work Experience</button>    
	<div class="collapsible-content">     
		<ul>      
			<li>
				<div>
					<div class="mc-post-name description">Member Technical Staff</div>      
					<div class="post-place">Zoho Corporation Pvt. Ltd., Chennai.</div>           
					<i> Jun 2016 - Apr 2021 </i>      
				</div>
				<div class="mc-exp-detail">       
					<b> Industry Type:</b> Software      
					<br><b> Role:</b> Sr. Software Engineer      
					<br><b> Programming Language:</b> JAVA      
					<br><b> Database:</b> MySQL      
					<br><b> Technologies that I worked on:</b> Docker, Apache Kafka, Machine Learning      
					<br><b> Description:</b><br>
						<ul> 
							<li> I modeled our database for the optimal functioning of several features in multiple editions.</li> 								<li>Worked on Apache Kafka for our integration to sync employees data from Zoho People.</li> 
							<li>Contributed to Docker implementations to help fellow developers use our test machines for ensuring if their implementations pass existing test cases.</li> 
							<li>Developed an algorithm to avoid brute force implementation of an auto-computation in one of the product modules.</li> 
							<li>Performed code refactoring and implemented several Object-Oriented Programming concepts to facilitate smooth support for future editions.</li> 
							<li>Studied and applied necessary algorithms for building an ML software used by my team.</li>
						</ul>
				</div>
			</li>     	
		</ul>
	</div>
<button class="collapsible">Research Experience</button>    
	<div class="collapsible-content">     
		<ul>
			<li>
				<div>
					<div class="mc-post-name description">Research Assistant</div>
					<div class="post-place"><i>Supervisor:</i> Prof. Ramraj Thirupathyraj</div>
					<i> Apr 2021 - Present </i>      
				</div>
				<div class = "mc-exp-detail">
					<b>Research Area:</b> Graph Isomorphism
					<br><b>Projects:</b><br> 
						<ul> 
							<li>Exploring substantial statistical significances in graph similarity measures</li>
							<li>Graph Isomorphism and Classifcation with Filtration Curves</li> 		
						</ul>
				        <b>Contributions:</b><br> 
						<ul>
							<li>Worked on a research project to provide a Quantized Graph Similarity Measure based on important graph properties.</li>
							<li>Performed empirical study on Graph Isomorphism with Filtration Curves to assess graph similarity by analyzing the difference between the Filtration Curves in the mathematical space.</li> <li>Conducted a comparative analysis on Graph Classifications with Graph Neural Networks and Filtration Curves and their analogy with graph similarity scores from our study.</li>  
						</ul>
			      </div>
			</li> 
		</ul>
	</div>
<button class="collapsible">Teaching Experience</button>    
	<div class="collapsible-content">     
		<ul>
			<li>
				<div>
					<div class="mc-post-name description">Teaching Assistant</div>
					<div class="post-place"><i>Supervisor:</i> Prof. Ramraj Thirupathyraj</div>
					<i> 2015-16 </i>      
				</div>
				<div class = "mc-exp-detail">
					<b>Subjects:</b> Data Structures and Algorithms, Database Management Systems
				        <br><b>Contributions:</b><br> 
						<ul>
							<li>I assisted him in reviewing the internal assessments of my juniors in Database Management Systems and took a few classes for the first-year students.</li>
							<li>I worked with him in updating the class materials for a few topics in Data Structures and algorithms, algorithmic complexity, etc.</li> 
						</ul>
			      </div>
			</li> 
		</ul>
	</div>
