<head>
	<title> {{ site.title }} </title>
	
	<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PP6PMTTX');</script>
	<!-- End Google Tag Manager -->
	
	<meta charset="utf-8">
	<meta description="My Personal Website">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./styles.css">
	<script type="text/javascript" src="./cvscript.js"></script>

	<!-- <style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;700&display=swap');
	</style> -->
</head>
