<div class="modal" id="modal-space">
	<div class="modal-header">
		<div class="modal-header-content"></div>
		<button style="padding-top:6px" onclick="hideModal('modal-space')" type="button" class="close btn-close-x" aria-label="Close">
  			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-content">
	</div> 
	<div class="modal-footer">
		<a class="footer-github-a show-github" href="" target="_blank"><button class="btn-github">View Github</button></a>
		<button class="btn-close" onclick="hideModal('modal-space')">Close</button>
	</div>
</div>
