<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2>Important News</h2>
		<ul>
			<li> <i>February 2022: </i> Our experimental analysis on graph isomorphism produced good results since we were able to distinguish near-isomorphic graphs and provide a score that would convey the percentage of similarity between them.</li>
			<li> <i>January 2022: </i> Started writing our paper on the Quantized Graph Similarity score.</li>
			<li> <i>November 2021: </i> Honoured to talk at CIT for the Student Induction Program 2021: <i>Topic</i> - How to kick start your career in AI/ML? <i>Audience</i> - first-year students.</li>
			<li> <i>October 2021: </i> ESWA accepted our paper for review after more than a month from the submission date.</li>
			<li> <i>September 2021: </i> I am happy to announce that my professor <u>Ramraj Thirupathyraj</u> accpeted me as his Research Assistant (RA). We will be working on <i>Graph filtration Curves</i> for graph classification problems and graph isomorphism.</li>
			<li> <i>August 2021: </i> Submitted our paper on <b>Examining the effectiveness of branching heuristics in a CDCL-type SAT solver for Argumentation Framework</b> to the journal <b>Expert Systems With Applications [ESWA]</b>. </li>
			<li> <i>May 2021: </i> Hurray! Finished writing my first scholarly article. </li>
			<li> <i>April 2021: </i> After five years of fantastic experience at Zoho, it is time to depart and look for new challenges. I enjoyed working with the great people around me.</li> 
			<li> <i>February 2021: </i> My experiments went well and marked the completion of my empirical work. I started evaluating the results.</li>
			<li> <i>December 2020: </i> Started a new research study on Argumentation Framework solvers.</li>
			<li> <i>July 2020: </i> It is July, and we (Zoho Payroll Team) are loaded with Form 16 support tickets.</li> 
			<li> <i>March 2020: </i> Started our Work From Home due to covid-19 impact. Have to say that it is indeed a new experience!</li>
			<li> <i>April 2020: </i> Got promoted as a Senior developer in my team.</li>
  		</ul>
	</div>
</div>	
