<div class="row">
	<div class="col-sm-12" style="font-family:serif">
		<h2 style="margin-top:41px">Projects</h2>
		<hr color="#061192">
		<div class="row projects">
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-0" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">Zoho Payroll</div> 
					</div>     
					<div class="project-description">
						Zoho Payroll is a Java-MySql based web application that helps employers to process pay runs easily. My involvement in this project is summarized below:
						<ul>
							<li>Proper Database modelling for optimal functioning of various features in various editions.</li>
							<li>Developed a complete algorithm to avoid brute force implementation of an auto-computation in one of the modules of the product.</li>
							<li>Performed code refactoring and implemented a number of OOPS concepts in such a way that the future editions can be supported easily.</li>
							<li>Studied and applied necessary algorithms for building an ML-based software that was used for analysing and targetting customers efficiently.</li>
						</ul>
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-0')">Show more </button></p> </div>
				</div>
			</div>						
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-1" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">Custom Handwritten Digit Predictor</div> 
						<a class="github-a" href="https://github.com/Sivakumar3695/CNN-MNIST" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
					</div>     
					<div class="project-description">
						A project started with an objective to train a CNN model for MNIST dataset but later extended to support multiple model training using a simplified custom framework. The following are some of the highlights of the project: 
						<ul>
							<li>Train and save a CNN model.</li>
							<li>Use a pre-trained model to predict one or more custom handwritten images of digits.</li>
							<li>Option to perform test data evaluation on any pre-trained model.</li>
							<li>Use feature visualization to understand what the system is expecting and why some of the predictions are incorrect.</li>
							<li>Maximum accuracy obtained: <span class="stats">99.20%</span></li>
							<li>Maximum Precision obtained: <span class="stats">96.01%</span></li>						</ul> 
						<br> Please check the github repository to know about the usage of feature visualization in this project.
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-1')">Show more </button></p> </div>
				</div>
			</div>
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-2" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">CNN Model Trainer+Comparator</div> 
						<a class="github-a" href="https://github.com/Sivakumar3695/CNN-Model-Trainer-Comparator" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
					</div>     
					<div class="project-description">
						A CNN model trainer for CIFAR-10 dataset using the PyTorch library. A better utilization of this project is to provide two models and choose the better among the two by making obvious comparison based of the convergence speed, test accuracy and mean loss after each iteration. With the help of PyTorch library, GPU usage is supported. While doing model comparison, it is wise to use GPU to fasten the model training process.<br> Maximum Accuracy obtained after various model training (using random model): <span class="stats">83.74%</span><br> To know more about the project, please check the github repository.
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-2')">Show more </button></p> </div>
				</div>
			</div>
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-3" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">MiniSat for D(n,p,q) random AF instance</div>
						<a class="github-a" href="https://github.com/Sivakumar3695/New-Random-Model-D-n-p-q" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
						<a title="Research Project">
							<img class ="research-img" src="https://user-images.githubusercontent.com/29046579/128333947-c8d75990-70d7-473f-8a27-496577dc18a1.jpg" alter="Avatar">
						</a> 
					</div>     
					<div class="project-description">
						A research project developed to solve the D(n,p,q) random model introduced in a research paper. To be precise, this project is an extension of the research work mentioned in the original paper where further works were called for the introduced random model to be solved by modern solvers. The project is a small extension of the research work since the MiniSat used in the project is not a modern solver but its features are widely adopted in most of the modern SAT-based AF solvers <br> <br>In addition to this, a new branching technique designed particularly for solving AF instance is introduced. A graphical output will be provided for the users to make easy comparison. More details are provided in the github repository.  
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-3')">Show more </button></p> </div>
				</div>
			</div>
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-4" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">Erdős–Rényi Graph Generator - G(n,p) model</div>
						<a class="github-a" href="https://github.com/Sivakumar3695/Erdos-Renyi-G-n-p--Model" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
					</div>     
					<div class="project-description-complete">
						A basic project to generate ER graph using G(n, p) random model. An output xlsx file containing <b>Actual Vs Expected number of nodes</b> and <b>Actual Vs Expected node degree</b> will be provided.
					</div>
					<div class="show-more-inactive"> <p>Show more</p> </div>
				</div>
			</div>
		</div>
	</div>
</div> 
