<div class="row projects">
	<div class="col-sm-12">
		<h2 style="margin-top:41px">Selected Projects</h2>
		<div class="content description">
			<b><a href="https://www.zoho.com/in/payroll/" target="_blank">Zoho Payroll</a></b> is a Java-MySQL based web application developed in Zoho. The project employers helps in processing pay runs smoothly and efficiently.			
		</div>

		<div class="content description">
			<b><a href="https://github.com/Sivakumar3695/Analyse-Impact-of-Branching-Heuristics-in-CDCL-type-AF-solvers" target="_blank"> Branching Heuristics impact analyser</a></b> is a research project developed to study the impact of various branching heuristics in an Argumentation Framework solver.	
		</div>

		<div class="content description">
			<b><a href="https://github.com/Sivakumar3695/CNN-MNIST/" target="_blank"> A New Framework for model training</a></b> - developed a new framework from scratch using vector implementation in Python. A simple way to define and train CNN models!
		</div>
		
		<div class="content description">
			<b><a href="https://github.com/Sivakumar3695/GraphDS-AdjacencyMatrixCreator" target="_blank"> GraphDS-Adjacency Matrix Generator</a></b> - The project will generate adjacency matrices for the top 11 datasets that we (our team) chose for a research project. The GitHub repository contains the details of the graph datasets.
		</div>
		
		<div class="content description">
			And some more projects on <b><a href="https://github.com/Sivakumar3695" target="_blank"> my GitHub</a></b>.
		</div>
	</div>
</div> 
