<div class="row">
	<div class="col-sm-12">
		<h2 style="margin-top:41px">Projects</h2>
		<hr color="#061192">
		<div class="row projects">
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-0" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">Zoho Payroll</div> 
					</div>     
					<div class="project-description">
						Zoho Payroll is a Java-MySql based web application that helps employers to process pay runs efficiently. My involvement in this project involves the following:
						<ul>
							<li>Modelled our Database for optimal functioning of several features in multiple editions.</li>
							<li>Developed an algorithm to avoid brute force implementation of an auto-computation in one of the product modules.</li>
							<li>Performed code refactoring and implemented several OOPS concepts to facilitate smooth support for future editions.</li>
							<li>Studied and applied necessary algorithms for building an ML-based software used by our marketing team to filter out target customers.</li>
						</ul>
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-0')">Show more </button></p> </div>
				</div>
			</div>						
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-1" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">Custom Handwritten Digit Predictor</div> 
						<a class="github-a" href="https://github.com/Sivakumar3695/CNN-MNIST" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
					</div>     
					<div class="project-description">
						The project started with a view to training a CNN model for the MNIST dataset but later extended to support multiple model training using a simplified custom framework. The following are some of the highlights of the project: 
						<ul>
							<li>Train and save a CNN model.</li>
							<li>Use a pre-trained model to predict one or more custom handwritten images of digits.</li>
							<li>Option to perform test data evaluation on any pre-trained model.</li>
							<li>Use feature visualization to understand what the system is expecting and why some of the predictions are incorrect.</li>
							<li>Maximum accuracy achieved: <span class="stats">99.20%</span></li>
							<li>Maximum precision attained: <span class="stats">96.01%</span></li>						</ul> 
						<br> To know about the usage of feature visualization in this project, please check the Github repository.
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-1')">Show more </button></p> </div>
				</div>
			</div>
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-2" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">CNN Model Trainer + Comparator</div> 
						<a class="github-a" href="https://github.com/Sivakumar3695/CNN-Model-Trainer-Comparator" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
					</div>     
					<div class="project-description">
						CNN model trainer + comparator is a Python project for the CIFAR-10 dataset using the PyTorch library. Better utilization of this project is to provide two models and choose the efficient model by making an obvious comparison based on the convergence speed, test accuracy and mean loss after each iteration. The project supports the usage of GPU with the help of the PyTorch library. While comparing two models, the project will provide a graph to compare the efficiency of the two models in the training process. As model training is a time-consuming process, one should prefer to use GPU for the model comparison.
						<br> Maximum accuracy achieved after various model training (using a random model): <span class="stats">83.74%</span>
						<br><br> To know more about the project, please check the Github repository.
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-2')">Show more </button></p> </div>
				</div>
			</div>
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-3" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">A study on the impact of Branching Heuristics in AF solvers</div>
						<a class="github-a" href="https://github.com/Sivakumar3695/New-Random-Model-D-n-p-q" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
						<a title="Research Project">
							<img class ="research-img" src="https://user-images.githubusercontent.com/29046579/128333947-c8d75990-70d7-473f-8a27-496577dc18a1.jpg" alter="Avatar">
						</a> 
					</div>     
					<div class="project-description">
						This project is a part of a research work to emphasize the importance of branching heuristics in SAT-based Argumentation Framework (AF) solvers to solve instances from the D(n,p,q) random model. Various branching techniques are used in this project to computationally establish their impact on the solvers for solving AFs generated with different values of attack probability. This research study involved graphs, random graph generation, SAT solvers & related CNF encodings, a variety of branching heuristics and essential algorithmic changes to incorporate the branching heuristics in the used SAT solvers.
						<br><br> Although the MiniSat is not the start-of-the-art SAT solver, this project uses it to solve random AF instances because of its extensive documentation. Also, most modern solvers have the MiniSat's core features utilized in them. Hence, it will not be challenging to study this work on modern solvers.
						<br><br> A new branching technique named <b> Attack Relation Occurrence Factor Summation (AROFS) </b> is introduced in this research work. One can run this Python code to compare the models equipped with the following branching techniques: <ul> <li> VSIDS (default) </li> <li>  BH3-BRmcha </li> <li> AROFS </li> </ul> 
						<br>More details are provided in the Github repository.
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-3')">Show more </button></p> </div>
				</div>
			</div>
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-4" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">Erdős–Rényi Graph Generator - G(n,p) model</div>
						<a class="github-a" href="https://github.com/Sivakumar3695/Erdos-Renyi-G-n-p--Model" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
					</div>     
					<div class="project-description-complete">
						A Python project to generate ER graph using G(n, p) random model. The project will output an XLSX file containing <b>Actual Vs Expected number of nodes</b> and <b>Actual Vs Expected node degree</b>.
					</div>
					<div class="show-more-inactive"> <p>Show more</p> </div>
				</div>
			</div>
			<div class="card col-md-5 col-sm-10 col-xs-10">
				<div id="project-5" style="height:100%">
					<div class="project-name-logo">
						<div class="project-name">Random CSP Generator</div> 
						<a class="github-a" href="https://github.com/Sivakumar3695/RandomCSPs" target="_blank" title="Check github repository">
							<img class ="github-img" src="https://user-images.githubusercontent.com/29046579/128333655-f75f0bdd-540f-4258-b8c6-e21413531f99.jpg" alter="Avatar">
						</a>
					</div>     
					<div class="project-description">
						This Java-based project will generate a random Constraint Satisfaction Problem (CSP). The supported random CSP models are Model B, Model D, Model RB and Model RD.
						<br><br> The details of the four random models and a sample input & output format are provided in the Github repository.
					</div>
					<div class="show-more"> <p><button onclick="showModal('project-5')">Show more </button></p> </div>

				</div>
			</div>
		</div>
	</div>
</div> 
