<ul>  
	<li>
		<div class="mc-project-ls">        
			<b><a href="https://www.zoho.com/in/payroll/" target="_blank">Zoho Payroll</a></b> is a Java-MySQL based web application developed in Zoho. The project employers helps in processing pay runs smoothly and efficiently.            
		</div>
	</li>
	<li>
		<div class="mc-project-ls">        <b><a href="https://github.com/Sivakumar3695/Analyse-Impact-of-Branching-Heuristics-in-CDCL-type-AF-solvers" target="_blank"> Branching Heuristics impact analyser</a></b> is a research project developed to study the impact of various branching heuristics in an Argumentation Framework solver.        
		</div>
	</li>
	<li>
		<div class="mc-project-ls">        <b><a href="https://github.com/Sivakumar3695/CNN-MNIST/" target="_blank"> A New Framework for model training</a></b> - developed a new framework from scratch using vector implementation in Python. A simple way to define and train CNN models!      
		</div>
	</li>
	<li>            
		<div class="mc-project-ls">        <b><a href="https://github.com/Sivakumar3695/GraphDS-AdjacencyMatrixCreator" target="_blank"> GraphDS-Adjacency Matrix Generator</a></b> - The project will generate adjacency matrices for the top 11 datasets that we (our team) chose for a research project. The GitHub repository contains the details of the graph datasets.      
		</div>
	</li>
	<li>            
		<div class="mc-project-ls">        <b><a href="https://github.com/Sivakumar3695/CNN-Model-Trainer-Comparator" target="_blank"> Model Comparator</a></b> - PyTorch project - train two models simultaneously, compare them based on multiple factors like training time, efficiency and test accuracy after each approach.     			</div>
	</li>
	<li>            
		<div class="mc-project-ls">        <b><a href="https://github.com/Sivakumar3695/Random-Isomorphic-Graph-Generator" target="_blank"> Random Isomorphic Graph Generator</a></b> - I created this project with an idea to generate random isomorphic graphs. The project will generate output graphs based on the number of nodes and graph instances provided.     
		</div>
	</li>
	<li>            
		<div class="mc-project-ls">        <b><a href="https://github.com/Sivakumar3695/RandomCSPs" target="_blank"> Random CSP Generator</a></b> - A simple Java project to generate random Constraint Satisfaction Problems based on one of the four random CSP Models: Model B, Model D, Model RB and Model RD.    
		</div>
	</li>
	<li>            
		<div class="mc-project-ls">        <b><a href="https://github.com/Sivakumar3695/Erdos-Renyi-G-n-p--Model" target="_blank"> Custom ER Graph Generator</a></b> - A Python project to generate ER graphs using the G(n, p) random model. The project will output an XLSX file containing ‘Actual Vs Expected number of nodes’ and ‘Actual Vs Expected node degree’.   
		</div>
	</li>
	<li>            
		<div class="mc-project-ls">        And some more projects on <b><a href="https://github.com/Sivakumar3695" target="_blank"> my GitHub</a></b>. </div>
	</li>  
</ul>
