<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2 style="margin-top:41px">Publication</h2>
		<div class="content description">
			Ramraj Thirupathyraj, <b>Sivakumar Palanisamy</b>. <i>Examining the effectiveness of branching heuristics in a CDCL-type SAT solver for Argumentation Framework <small>[under review in <b>Expert Systems With Applications</b>]</small> (2021) </i> - <b><a href="./publications/af_solver_branching_heuristics.pdf" target="_blank">Preprint</a></b>
		</div>
	</div>  
</div>
