<div class="row">
    <div class="col-md-12 col-sm-12">
	<h2 style="margin-top:40px">Research Interests</h2>
	<div class="content description">
		<div>
			I am interested in studying Machine Learning (ML) and Reinforcement Learning (RL) algorithms and algorithms for graphs. My present study aims to use graph Filtration Curves (FC) for finding isomorphic graphs. As far as ML algorithms are concerned, my current research interest involves solving graph classification problems in molecular biology, chemistry, etc., with FC. My favourite RL area is to analyze algorithms making an agent curious to explore and learn in a sample efficient way in the finite Markov Decision Process (MDP) settings. <br><br>

			In the theory of computing, I am interested in examining online bipartite matching graph algorithms to improve the latest approximation ratio. In this area, I enjoy reading literature to analyze and design conceptually simple algorithms. <br><br>
			
			I also like to learn other disciplines related to my interest as I believe that the key to crucial discoveries would lie at the intersection of two fields.

		</div>

	</div>
    </div>
</div>
