	<div class="row">
    <div class="col-md-12 col-sm-12">
	<h2 style="margin-top:40px">Research Interests</h2>
	<div class="content description">
		<div>
			I am interested in studying Machine Learning (ML) and Reinforcement Learning (RL) algorithms and algorithms for graphs. In general Machine Learning, I am interested in the algorithmic part to improve the robustness to adversarial inputs, outliers and out-of-sample data in high dimensional space. On the theoretical side, I look to improve the convergence in convex optimization problems and graph representation in graph classification problems.
 My favourite RL area is to focus on creating and analysing algorithms to make an agent curious to explore and learn in as few steps as possible in the Markov Decision Process (MDP) settings. <br><br>

			In the theory of computing, I am interested in examining online bipartite matching graph algorithms to improve the latest approximation ratio. In this area, I enjoy reading literature to analyze and design conceptually simple algorithms. <br><br>
			
I also like to learn other disciplines related to my areas of interest as I believe that the key to crucial discoveries would lie at the intersection of two or more fields.
		</div>

	</div>
    </div>
</div>
