	<div class="row">
    <div class="col-md-12 col-sm-12">
	<h2 style="margin-top:40px">Research Interests</h2>
	<div class="content description">
		<div>
			I am interested in studying Machine Learning (ML) and Reinforcement Learning (RL) algorithms and algorithms for graphs. In general Machine Learning, I am interested in the algorithmic part to improve the robustness to adversarial inputs, outliers and out-of-sample data in high dimensional space. On the theoretical side, I look to improve the convergence in convex and non-convex optimization problems and graph representation in graph classification problems.
 My favourite RL area is analyzing algorithms to make an agent curious to explore and learn in as few steps as possible in the Markov Decision Process (MDP) settings. <br><br>

			In the theory of computing, specifically in Graph Theory, I am interested in designing near-optimal algorithms for computationally hard problems. I like to delve deep into the analysis of algorithms and learn about complexity analysis to develop methods for improving average and worst-case complexities in computational problems. <br><br>
			
I also like to learn other disciplines related to my areas of interest as I believe that the key to crucial discoveries would lie at the intersection of two or more fields.
		</div>

	</div>
    </div>
</div>
