<div>
<b> Major Research Interests:</b><br><br>
	<ul>
		<li>
			<i>Theoretical Machine Learning & Deep Learning:</i><br><br>
	I am enthusiastic about exploring Deep Neural Network models that lead me to the theoretical part of Machine Learning. The mathematical design running the mystery layers in Neural Networks and theoretical ideas in Optimizations, Regularizations, Transferability and Generalization, etc., made me curious to study this area. Lately, I have been focussing on Graph Neural Networks (GNN) for two primary reasons. Firstly, graphs are a powerful data representation that finds fascinating applications in many areas like social networks, molecular biology, computational chemistry, astrophysics, recommendation systems and more. Secondly, my previous research projects were based on graphs. I worked on a branching heuristic problem in the Argumentation Framework, which is ideally a graph representation, and research projects on Near-Graph Isomorphism.<br><br>

	Moreover, the similarity between Convolutional GNN and Convolution Neural Networks (CNN) in images processing and Graph Attention Networks (GAT) and Transformers in NLP motivated me to explore GNN further. Of particular interest, I feel Message Passing Neural Networks (MPNN) as very influential because it provides a mechanism for utilizing node features, edge features and global features (if any) through message constructions in addition to feature sharing.<br><br>	
		</li>
		<li>
			<i>Reinforcement Learning (RL): </i><br><br>
			Our state-of-the-art Robotic Software doesn't match with the state-of-the-art Robotic Hardware. More research could help us improve the software side to make an agent understand its environment and act accordingly (similar to a human). With the development of Reinforcement Learning from (1) trial and error learning from animal psychology, (2) Optimal Control, and (3) Temporal-Difference methods, we have come a long way in advancing the software essentials of robotics. However,  there is still more space for improvement and more perspectives to be explored to reach an optimal solution. My favourite RL area is analyzing algorithms to make an agent curious to explore and learn in as few steps as possible in the Markov Decision Process (MDP) settings.
		</li>
	</ul>
</div>
