<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2 style="margin-top:41px">Service Involvements</h2>
		<hr color="#061192">
		<div class="content">
			<div>
				<div class="post-name">Teaching Assistant</div>      
				<div class="post-place">Department of Computer Science, Coimbatore Institute of Technology.</div>
			</div>
			<div> <i> 2015-16 </i> </div>
			<div>
				<div class="post-name">Placement Helper</div>      
				<div class="post-place">Department of Computer Science, Coimbatore Institute of Technology.</div>
			</div>
			<div> <i> 2015-16 </i> </div>
			<div>
				<div class="post-name">Member of Ulavar Boomi</div>      
				<div class="post-place">An NGO organisation</div>
			</div>
			<div> <i> 2017 </i> </div>
			<div>
				<div class="post-name">Mentor</div>      
				<div class="post-place">Zoho Books Team</div>
			</div>
			<div> <i> 2017-21 </i> </div>
		</div>
	</div>
</div>	
