<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2 style="margin-top:41px">Teaching Involvements</h2>
		<div class="content">
			<div>
				<div class="post-name">Teaching Assistant</div>      
				<div class="post-place"><u>Prof. Ramraj Thirupathyraj</u>, Department of Artificial Intelligence and Data Science, Coimbatore Institute of Technology.</div>
			</div>
			<div> <i> 2015-16 </i> </div>
			<div class="service-desc">
			During my time as his Teaching Assistant, I assisted him in reviewing the internal assessments of my juniors in Database Management Systems. Also, I worked with him in updating the class materials for a few topics in Datastructures and algorithms, algorithmic complexity, etc., in a way that is easy for students to understand.
			</div>
			<div>
				<div class="post-name">Member of Placement Helper program</div>      
				<div class="post-place">Department of Computer Science, Coimbatore Institute of Technology.</div>
			</div>
			<div> <i> 2015-16 </i> </div>
			<div class="service-desc">
			<i>Concepts & Subjects handled:</i> Graphs, Datastructues, Algorithms and important SQL topics.
			</div>
			<div>
				<div class="post-name">Mentor</div>      
				<div class="post-place">Zoho Books Team</div>
			</div>
			<div> <i> 2017-21 </i> </div>
			<div class="service-desc">
			Mainly for freshers. Major concepts conveyed include web development, J2EE, core Java and primarily Zoho Book's internal frameworks since we used our framework for handling REST API calls and database queries.
			</div>
		</div>
	</div>
</div>	
