<div class="sidebar-sm col-xs-1 col-sm-1">
	<div class="sidebar-sm-content">
		<a style="color: #030a5d" onclick="showSideBar()"><i class="fas fa-arrow-circle-right"></i></a>
	</div>
</div>
<div class="sidebar-md col-md-4 col-sm-4 col-xs-10">
			<div class="sidebar-main-close">
				<button style="padding-top:6px; color:black" onclick="hideSideBar()" type="button" class="close btn-close-x" aria-label="Close">
	  				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div style="height:45%">
				<img class="user-photo" src="./img/img_avatar.jpg" alt="Avatar">
				<h2 style="text-align:center">Sivakumar Palanisamy</h2>

				<div class="info-lg">
					<div style="text-align:center; color: black;"> (+91) 8012289764 | sivakumar.dpalanisamy@gmail.com | <a href="https://www.linkedin.com/in/sivakumar-dpalanisamy/" target="_blank"><i class="fab fa-linkedin"></i> </a> | <a href="https://github.com/Sivakumar3695" target="_blank"> <i class="fab fa-github"></i> </a> </div>
				</div>
				<div class="info-md">
					<div style="text-align:center; color: black;"> sivakumar.dpalanisamy@gmail.com <br> (+91) 8012289764 | <a href="https://www.linkedin.com/in/sivakumar-dpalanisamy/" target="_blank"><i class="fab fa-linkedin"></i> </a> | <a href="https://github.com/Sivakumar3695" target="_blank"> <i class="fab fa-github"></i> </a> </div>
				</div>
			</div>
			<div class="sidebar-colored">
				<div class="content">
					<h2>Technical Skills</h2>
					<ul>
						<li><b>Programming Languages:</b> Java, Python, JavaScript, ReactJS, C, C++</li>
						<li><b>ML Algorithms:</b> Linear and Logistic regression, Neural Networks, SVM, CNN</li>
						<li><b>Database:</b> A strong user of MySQL and a beginner with PostgreSQL and NoSQL</li>
						<li><b>ML Library:</b> PyTorch</li>
						<li><b>Math Skills:</b> Calculus, Algebra, Statistics (basics)</li>
						<li><b>SAT solving algorithm:</b> MiniSat, CryptoMiniSat</li>					
					</ul>
				</div>
			</div>
</div>

